body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.full-width {
    width: 100%;
    position: absolute;
    left: 0;
}

.title {
    color: #555555;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #555555;
}

/* 
    INPUTS AND BUTTONS
*/
.form-input-font {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.search-bar-itens {
    position: relative;
    border-radius: 30px;
}

/* INPUTS */

.search-input-container {
    width: 248px;
    height: 40px;
    background: #fff;
}

.search-input-container-xlarge {
    width: 508px;
}

::placeholder {
    color: #CDCDCD;
}

.search-input {
    position: absolute;
    left: 6px;
    top: 4px;
    width: 236px;
    height: 32px;
    padding: 4px 10px 4px 10px;
    border: 3px solid #F0F0F0;
    border-radius: 30px;
    outline: none;
}

.search-input-large {
    width: 335px;
}

.search-input-xlarge {
    width: 495px;
}

.search-input:focus {
    box-shadow: 0 0 0 1px #75C0FF;
}

/* BUTTONS */
.btn-container {
    margin-left: 15px;
    width: 101px;
    height: 42px;
    background: #fff;
}

.btn {
    position: relative;
    border: 2px solid #5A9F9B;
    border-radius: 30px;
    width: 94px;
    height: 34px;
    top: 4px;
    left: 4px;
}

.btn-font-light {
    color: #25A19C;
    border: 2px solid #25A19C;
}

.btn-font-dark {
    color: #FFF;
    border: 2px solid #068783;
    background: #25A19C;
}

.btn-font-orange {
    color: #ffb248;
    border: 3px solid #dedede;
}

/* 
    BASE BANNER
*/

.section-text {
    color: #AEAEAE;
    font-size: 1.1em;
}

.banner {
    font-family: 'Itim', cursive;
    height: 588px;
}

.banner-content {
    height: 588px;
    align-items: center;
}

.banner-left-content {
    margin-top: 150px;
}

.banner-right-content {
    left: 70px;
    top: -70px;
}

.banner-right-content h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #25a19c;
}

/* 
    GLOBAL NAVBAR STYLES
*/
.menu {
    position: absolute;
    bottom: -17px;
}

.menu li {
    display: inline-block;
    padding: 10px;
    width: 100px;
    font-size: 0.8em;
    text-align: center;
    border: 1px solid #F0F0F0;
    margin-left: 1px;
}

.menu li:hover { cursor: pointer; }

.menu li a { color:#333; text-decoration:none; display:block; }

.menu .inicio { border: 1px solid transparent; border-top: 3px solid #FFB151; }
.menu .inicio:hover { background: #FFB151; color: #fff; }
.menu .software { border: 1px solid transparent; border-top: 3px solid #F766AE; }
.menu .software:hover { background: #F766AE; color: #fff; }
.menu .download { border: 1px solid transparent; border-top: 3px solid #AE67E0; }
.menu .download:hover { background: #AE67E0; color: #fff; }
.menu .tutorial { border: 1px solid transparent; border-top: 3px solid #757BFA; }
.menu .tutorial:hover { background: #757BFA; color: #fff; }
.menu .forum { border: 1px solid transparent; border-top: 3px solid #75C0FF; }
.menu .forum:hover { background: #75C0FF; color: #fff; }
.menu .creditos { border: 1px solid transparent; border-top: 3px solid #50C0AA; }
.menu .creditos:hover { background: #50C0AA; color: #fff; }
.menu .contato { border: 1px solid transparent; border-top: 3px solid #50946D; }
.menu .contato:hover { background: #50946D; color: #fff; }

/* 
    PAGINATION
*/

.pagination {
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 0;
    width: 100%;
    height: 50px;
    padding: 0 15%;
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
}
.pagination-item {
    margin-right: 10px;
}